<class_libraries>
  <library path="lib/libhector_control">
    <class name="hector_control/AttitudeController" type="hector_control::AttitudeController"
           base_class_type="controller_interface::ControllerBase">
      <description>
        TODO
      </description>
    </class>
    <class name="hector_control/VelocityController" type="hector_control::VelocityController"
           base_class_type="controller_interface::ControllerBase">
      <description>
        TODO
      </description>
    </class>
    <class name="hector_control/PositionController" type="hector_control::PositionController"
           base_class_type="controller_interface::ControllerBase">
      <description>
        TODO
      </description>
    </class>
  </library>
</class_libraries>
