<?xml version="1.0"?>
<robot name="simple_gripper">
  <link name="riser">
    <visual>
      <geometry>
        <box size="0.025 0.025 0.25"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.025 0.0 0.125"/>
    </visual>
  </link>

  <link name="right_leg">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="right_leg"/>
  </joint>

</robot>
